<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
} %>

<h1>You're Logged In</h1>
<%- messages() %>

<!--<div class="accountManagement">
    <p class="nclassi">Click the button to add a New Classification</p>
    <button class="manage" id="managebtt" onclick="location.href='/inv/add-classification'">
        Add New Classification
    </button>

    <p class="nveh">Click the button to add a New Vehicle</p>
    <button class="manage" id="managebtt" onclick="location.href='/inv/add-inventory'">
        Add New Vehicle
    </button>

    <h2>Manage Inventory</h2>
    <div class="infoClass">
        <p>Select a classification from the list to see the items belonging to the classification.</p>
        <div class="classnav">
            <%#- classificationSelect %>
        </div>
        <div class="table">
            <table id="inventoryDisplay"></table>
        </div>
    </div>
    <noscript>JavaScript must be enabled to use this page.</noscript>
    <script src="../../js/inventory.js"></script>-->
</div>