/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Dodger';
  src:url('/webfonts_Dodger/Dodger.ttf.woff') format('woff'),
      url('/webfonts_Dodger/Dodger.ttf.svg#Dodger') format('svg'),
      url('/webfonts_Dodger/Dodger.ttf.eot'),
      url('/webfonts_Dodger/Dodger.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Good-Times';
  src:url('/webfonts_Good-Times/Good-Times.ttf.woff') format('woff'),
      url('/webfonts_Good-Times/Good-Times.ttf.svg#Good-Times') format('svg'),
      url('/webfonts_Good-Times/Good-Times.ttf.eot'),
      url('/webfonts_Good-Times/Good-Times.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
header{
  padding-top: 0.8rem;
  .siteName{
    font-family: 'Dodger';
    font-size: 1.8rem;
    a{
      color: #c66717;
      margin-left: 1.5rem;
    }
  }
  #tools{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    font-size: 1.1rem;
    padding: 0rem 1rem 0rem 0rem;
    a{
      color: #19323b;
    }
  }
  .siteName, #tools{
    a{
      text-decoration: none;
    }
  }
}
nav{
  background-color: #333437;
  ul{
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
    a{
      text-decoration: none;
      color: white;
    }
  }
}
h1{
  font-family: 'Dodger';
  font-size: 1.5rem;
  margin-left: 1.5rem;
  color: #3f676b;
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#19323b;
  margin: 0.2rem;
}
h3{
  font-family: 'Dodger';
  color: #c66717;
}

/*Classification*/
#inv-display{
  list-style: none;
  display: grid;
  padding-inline-start: 0;
  grid-template-columns: repeat(auto-fill, minmax( 20rem, 1fr));
  grid-gap: 1.5rem;
  margin: 0 1rem 0 1rem;
  a{
    text-decoration: none;
  }
  li{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3f676b;
    border: 0.25rem solid #c66717;
    justify-content: space-between;
    text-align: center;
    padding: 0.625rem;
    
    img{
      width: 256.1px;
      height: 150px;
      display: flex;
      overflow: hidden;
    }
  }
  .namePrice{
    margin: 1rem;
    hr{
      width: 22.563rem;
      border-width: 0.1rem;
      border-color: #c66717;
    }
    h2{
      font-family: 'Good-Times';
      font-style: normal;
      font-size: 1em;
      margin-top: 1.5em;
      a{
        color: #F8F9FA;
      }
    }
    span{
      color: #F8F9FA;
    }
  }
}
.deloreanCont{
  margin-left: 0.2rem;
  .charact{
    /*background-color: #3f676b;*/
    background-color: #51949480;
    border-radius: 1em;
    padding: 1.3rem;
    p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 800;
      color: #333437;
      margin-left: 4%;
    }
  }
  #ownbtt{
    background:    #3f676b;
    background:    linear-gradient(#3f676b, #19323b);
    border-radius: 0.1rem;
    padding:       0.5rem 1rem;
    color:         #ffffff;
    font:          normal bold 1.3rem/1 "Segoe ui";
    text-align:    center;
  }
}
.delor-container{
  margin-left: 0.7rem;
  padding: 1rem;
  .delor-review{
    ul{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #19323b;
    }
  }
  .delor-upg{ 
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #51949480;
      text-align: center;
      a{
        text-decoration: none;
        color: #19323b;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
}
footer{
  display: flex;
  justify-content: center;
  font-family: 'Dodger';
  background-color:#3f676b;
  color: #F8F9FA;
  margin-top: 5rem;
}

/****LargeScreen****/
@media  screen and (min-width: 992px) {
  html{
    background-image: url("/images/site/small_check.jpg");
  }
  body{
    width: 80%;
    margin: 0 auto; 
    background-color: white;
    border-color: #19323b;
  }
  nav{
    padding: 8px 0 8px 0;
  }
  .deloreanCont{
    display: flex;
    justify-content: center;
    img{
      width: 45%;
      display: flex;
      justify-content: center;
    }
  }
  .delor-upg {
    display: grid;
    grid-template-columns: 0.18fr 0.18fr;
    grid-template-rows: 0.2fr 0.2fr ;
    gap: 25px;
    position: relative;
    left: 15%;
    div{
      position: relative;
      float: left;
      top:40%;
      img{
        padding-top: 0.5rem;
      }
    }
    h3{
      position: absolute;
    }
  }
  .delor-review{
    float: right;
    position: relative;
    right: 15%;
    ul{
      li{
        padding: 1.2rem 0rem 0.4rem 0.6rem;
        font-size: 1.1rem;
      }
    }
  }
}
/****SmallScreen****/
@media  screen and (max-width: 992px){
  nav{
    position: relative;
    top: 1rem;
    padding: 2px 0 2px 0;
    ul{
      width: 100%;  
      padding-inline-start: 0px;
    }
  }
  .deloreanCont{
    img{
      width: 101%;
    }
  }
  .charact{
    position: absolute;
    top: 21%;
  }
  .delor-upg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 25px;
    padding: 10px;
    h3{
      position: absolute;
    }
    img{
      padding-top: 1rem;
      width: 40%;
    }
  }
  .delor-container{
    div{
      position: relative;
      top: 50%;
    }
    .delor-review{
      ul{
        li{
          padding: 0.1rem 0rem 0.4rem 0.6rem;
        }
      }
    }
  }
}